.elementHolder {
    position: fixed;
    top: 28%;
    left: 35%;
    right: 2%;
    bottom: 2%;
    border-radius: 40px;
    background-color: floralwhite;
    opacity: 0.6;
}

.elements {
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: #541702;
    color: floralwhite;
    text-shadow: 0.5px 0.5px floralwhite;
    font-size: medium;
    opacity: +5;
    font-weight: bold;
    right: 10%;
    bottom: 10%;
    font-family: cursive;
}

.elementCenter {
    position: absolute;
    left: 20%;
    top: 20%;
    right: 5%;
    width: 85%;
    font-size: medium
text-align: center;
}

.headingCentre {
    position: absolute;
    left: 12%;
    top: 12%;
    right: 5%;
    width: 90%;
    font-size: large;
    color: lemonchiffon;
}


.space{
    height:10px;
}

input[name="button"]{

    width: 45%;
}

.sizing{
    width:45%;
}
